<div class="board-outer">
    <div class="board-heading-add-todo">
        <h2>Todo List Main Page</h2>
        <div class="add-todo-btn">
            <button (click)="openAddTodoDialog()">Add Todo</button>
        </div>
    </div>
    <div class="board-inner">
        <div *ngFor="let column of columns" class="column" 
            (dragover)="allowDrop($event)" 
            (drop)="onDrop($event, column)">
            <div class="column-inner">
                <h3>{{ column }}</h3>
                <p *ngIf="getFilteredTodos(column).length === 0" class="empty-message">
                    No tasks in "{{ column }}" status.
                </p>
                <div *ngFor="let todo of getFilteredTodos(column)" class="todo-card"
                    draggable="true" 
                    (dragstart)="onDragStart($event, todo)">
                    <span class="todo-card-title" [title]="todo.todo">{{ todo.todo }}</span>
                    <span class="card-delete-icon" (click)="openAddTodoDialog(todo.id)" >
                        <img src="assets/edit-icon.svg">
                    </span>
                    <span class="card-delete-icon" (click)="deleteTodo(todo.id)">
                        <img src="assets/delete-icon.svg">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>